.scroll p {
  color: #fff;
  text-shadow: 2px 2px 9px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 40px;
  width: 100%;
}

.scroll h1 {
  color: #fff;
  text-shadow: 2px 2px 9px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scroll h2 {
  color: #fff;
  text-shadow: 2px 2px 9px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 50px;
  width: 100%;
}

.scroll .main {
  width: 100vw;
  height: 100vh;
}

.scroll .info p{
  font-size: 18px !important;
  color: #000;
  text-shadow: none;
}
